@model IEnumerable<BusShuttleMVC.Models.BusViewModel>
@{
    ViewData["Title"] = "Manage Busses";
}
<h2>Manage Buses</h2>

<form asp-action="AddBus" method="post">
    <input type="text" class="standard-text-input" name="busNumber" placeholder="Enter bus number" required />
    <button type="submit" class="btn button-primary">Create Bus</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusNumber)
                </td>
                <td>
                    <form asp-action="DeleteBus" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn delete-button"></button>
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
