@model IEnumerable<BusShuttleMVC.Models.BusStopViewModel>
@{
    ViewData["Title"] = "Manage Stops";
}
<h2>Manage Stops</h2>

<form asp-action="AddBusStop" method="post">
    <input type="text" class="standard-text-input" name="busStopName" placeholder="Enter stop name" required />
    <input type="text" class="standard-text-input" name="latitude" placeholder="Enter latitude" required />
    <input type="text" class="standard-text-input" name="longitude" placeholder="Enter longitude" required />
    <button type="submit" class="btn button-primary">Create Stop</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    <form asp-action="DeleteBusStop" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn delete-button"></button>
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
