@model BusShuttleMVC.Models.ManagerDashboardViewModel

@{
    ViewData["Title"] = "Manager Dashboard";
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col-12 foreground  my-3">
            <table class="data-table table table-striped">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Loop</th>
                        <th>Stop</th>
                        <th>Bus</th>
                        <th>Boarded</th>
                        <th>Left Behind</th>
                        <th>Driver Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in Model.Entries)
                    {
                        <tr>
                            <td>@entry.Timestamp</td>
                            <td>@entry.BusLoopName</td>
                            <td>@entry.BusStopName</td>
                            <td>@entry.BusNumber</td>
                            <td>@entry.Boarded</td>
                            <td>@entry.LeftBehind</td>
                            <td>@entry.Driver</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row py-3 text-center">
                <div class="col-md-6 my-2">
                    <form asp-controller="Manager" asp-action="DownloadEntriesCSV" method="post">
                        <button type="submit" class="btn button-primary">Download Entries</button>
                    </form>
                </div>
                <div class="col-md-6 my-2">
                    <a asp-controller="Manager" asp-action="ManageEntries">
                        <button class="btn button-primary">Manage Entries</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row foreground text-center">
        <div class="card-header text-center ">
            <h2>Bus Stops</h2>
        </div>

        <div class="row py-3">
            <div class="col-md-6 my-2">
                Map coming soon...
            </div>
            <div class="col-md-6 my-2">
                @Html.Partial("ManageBusStops", Model.BusStops)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="foreground my-3">
                <div class="card-header">
                    <h2>Manage drivers</h2>
                </div>
                <div class="card-body text-center">
                    
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="foreground my-3">
                <div class="card-header">
                    <h2>Buses</h2>
                </div>
                <div class="card-body text-center">
                    @Html.Partial("ManageBuses", Model.Buses)
                </div>
            </div>
        </div>
    </div>

    <div class="foreground my-3">
        <div class="card-header">
            <h2>Manage Loops</h2>
        </div>
        <div class="card-body text-center">
            <a asp-controller="Manager" asp-action="ManageBusLoops">
                <button class="btn button-primary">Manage Loops</button>
            </a>
        </div>
    </div>
    <div class="foreground my-3">
        <div class="card-header">
            <h2>Manage Routes</h2>
        </div>
        <div class="card-body text-center">
            <a asp-controller="Manager" asp-action="ManageRoutes">
                <button class="btn button-primary">Manage Routes</button>
            </a>
        </div>
    </div>
</div>
