@model BusShuttleMVC.Models.BusRouteViewModel

<form asp-action="CreateBusRoute" method="post">
    <input type="text" class="standard-text-input" name="busRouteName" placeholder="Enter bus Route name" required />
    <button type="submit" class="btn button-primary">Create Bus Route</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model.BusRoutes)
        {
            <tr>
                <td>
                    @route.Id
                </td>
                <td>
                    <form asp-controller="Manager" asp-action="ManageRouteStops" method="get">
                        <button type="submit" value="@route.Id" name="busRouteId" class="btn button-primary">@route.Name</button>
                    </form>
                </td>
                <td>
                    <form asp-action="DeleteBusRoute" method="post">
                        <input type="hidden" name="busRouteId" value="@route.Id" />
                        <button type="submit" class="btn delete-button"></button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>


<div class="container-sm">
    <div class="justify-content-center text-center align-items-center">
        <form method="post" asp-action="AddStopToRoute" asp-controller="Manager">
            <label for="choose-route">
                <h1>Select a route</h1>
            </label>
            <div id="choose-route" class="form-group my-3 text-center">
                <select name="busRouteId" class="standard-select-input" required>
                    @foreach (var route in Model.BusRoutes)
                    {
                        <option value="@route.Id">@route.Name</option>
                    }
                </select>
            </div>
            <div class="form-group my-3 text-center">
                <label for="AddStop">
                    <h1>Choose a stop to add</h1>
                </label>
                <select id="AddStop" name="busStopId" class="standard-select-input" required>
                    @foreach (var stop in Model.BusStops)
                    {
                        <option value="@stop.Id">@stop.Name</option>
                    }
                </select>
                <input type="submit" value="Add stop" class="btn button-primary my-3" />
            </div>
        </form>
    </div>
</div>