@model BusShuttleMVC.Models.ManageEntryViewModel
@{
    ViewData["Title"] = "Manager Dashboard";
}
<h1>@ViewData["Title"]</h1>
<div class="row justify-content-center">
    <div class="table-responsive">
        <table class="data-table table table-striped">
            <thead>
                <tr>
                    <th>Boarded</th>
                    <th>Left Behind</th>
                    <th>Bus Stop</th>
                    <th>Timestamp</th>
                    <th>Bus Loop</th>
                    <th>Driver Name</th>
                    <th>Bus Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entry in Model.Entries)
                {
                    <tr>
                        <td>@entry.Boarded</td>
                        <td>@entry.LeftBehind</td>
                        <td>@entry.BusStopName</td>
                        <td>@entry.Timestamp</td>
                        <td>@entry.BusLoopName</td>
                        <td>@entry.Driver</td>
                        <td>@entry.BusNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="container-fluid py-3 text-center">
      <div class="row">
        <div class="col-md-6 my-2">
        <form asp-controller="Manager" asp-action="DownloadEntriesCSV" method="post">
            <button type="submit" class="btn primary-button">Download Entries</button>
        </form>
        </div>
        <div class="col-md-6 my-2">
        <a asp-controller="Manager" asp-action="ManageEntries">
            <button class="btn primary-button">Manage Entries</button>
        </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
        <div class="card my-3">
            <div class="card-header">
                <h2>Activate or deactivate your drivers:</h2>
            </div>
            <div class="card-body text-center">
                <a asp-controller="Manager" asp-action="ManageDrivers">
                    <button class="btn primary-button">Manage Drivers</button>
                </a>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-header">
                <h2>First, create some buses:</h2>
            </div>
            <div class="card-body text-center">
                <a asp-controller="Manager" asp-action="ManageBuses">
                    <button class="btn primary-button">Manage Buses</button>
                </a>
            </div>
        </div>
        <div class="card my-3">
            <div class="card-header">
                <h2>Then, create some loops:</h2>
            </div>
            <div class="card-body text-center">
                <a asp-controller="Manager" asp-action="ManageBusLoops">
                    <button class="btn primary-button">Manage Loops</button>
                </a>
            </div>
        </div>
        <div class="card my-3">
            <div class="card-header">
                <h2>Then, create some stops for the loops:</h2>
            </div>
            <div class="card-body text-center">
                <a asp-controller="Manager" asp-action="ManageBusStops">
                    <button class="btn primary-button">Manage Stops</button>
                </a>
            </div>
        </div>
        <div class="card my-3">
            <div class="card-header">
                <h2>Finally, create some routes:</h2>
            </div>
            <div class="card-body text-center">
                <a asp-controller="Manager" asp-action="ManageRoutes">
                    <button class="btn primary-button">Manage Routes</button>
                </a>
            </div>
        </div>
    </div>
</div>
