@model BusShuttleMVC.Models.ManageBusLoopsViewModel
@{
    ViewData["Title"] = "Manage Bus Loops";
}
<h2>Manage Bus Loops</h2>

<form asp-action="CreateBusLoop" method="post">
    <input type="text" class="standard-text-input" name="busLoopName" placeholder="Enter bus loop name" required />
    <button type="submit" class="btn button-primary">Create Bus Loop</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Assigned Route
            </th>
            <th>
                Manage
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BusLoops)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <form asp-action="AssignRouteToLoop" method="post">
                        <input type="hidden" name="busLoopId" value="@item.Id" />
                        <select name="busRouteId" class="standard-select-input">
                            <option value="" disabled selected hidden>
                                @if (item.BusRouteId.HasValue)
                                    {
                                        @Html.DisplayFor(modelItem => item.BusRouteId)
                                    } else 
                                    {
                                        <span>No route assigned to this loop.</span>
                                    }
                                </option>
                            @foreach (var route in Model.BusRoutes)
                            {
                                <option value="@route.Id">@route.Id</option>
                            }
                        </select>
                        <button type="submit" class="btn button-primary">Assign Route</button>
                    </form>
                </td>
                <td>
                    <form asp-action="DeleteBusLoop" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn delete-button"></button>
                    </form>
                    
                </td>
            </tr>
        }
    </tbody>
</table>