@model BusShuttleMVC.Models.BusRouteViewModel

<form method="post" asp-action="AddStopToRoute" asp-controller="Manager">
    <select name="busLoopId">
        @foreach (var loop in Model.BusLoops)
        {
            <option value="@loop.Id">@loop.Name</option>
        }
    </select>

    <select name="busStopId">
        @foreach (var stop in Model.BusStops)
        {
            <option value="@stop.Id">@stop.Name</option>
        }
    </select>

    <input type="submit" value="Add stop" />
</form>

<form method="get" asp-action="ViewStopsForRoute" asp-controller="Manager">
    <select name="loopName">
        @foreach (var loop in Model.BusLoops)
        {
            <option value="@loop.Name">@loop.Name</option>
        }
    </select>

    <input type="submit" value="View stops" />
</form>